<div class="add">
<button class="add btn btn-outline-primary btn-sm"><i class="fa fa-users" data-toggle="modal" data-target="#myModal"></i></button>
</div>


<div class="modal fade" id="myModal" role="dialog">

<div class="modal-dialog">

<div class="modal-content cont">
    <h4 class="h4">enter crew details</h4>
<div class="modal-body">

<form class="m-5"  (submit)="insert(crewId,crewName,crewRank,planeId)">
    <br><br>
  <input [(ngModel)]="crewId" placeholder="id" name="crewId">
  <br><br>
  <input [(ngModel)]="crewName" placeholder="name" name="crewName">
  <br><br>
  <input [(ngModel)]="crewRank" placeholder="rank" name="crewrank">
  <br><br>
  <input [(ngModel)]="planeId" placeholder="plane id" name="planeId">
  <br><br>
  <input class="save" type="submit" value="add">
</form>

</div>

<div>
  <button class="btn"  data-dismiss="modal">close</button>
</div>

</div>

</div>

</div>

<table class="table">
  <tr>
    <th>id</th>
    <th>name</th>
    <th>rank</th>
    <th></th>
    
  </tr>
  <tr *ngFor="let crew of data">
    <td>{{crew.crewId}}</td>
    <td>{{crew.crewName}}</td>
    <td>{{crew.crewRank}}</td>
  
    <td><i class="fa fa-trash-o " (click)="delete(crew.crewId)"></i></td>
  </tr>
</table>