<div class="text-center login">
<form [formGroup]="fg" (ngSubmit)="auth()" >
  <input class="form-control" formControlName="username" placeholder="name"/><br><br>
  <input class="form-control" formControlName="password" placeholder="password"/><br><br>
 <input type="submit" value="login"/>
</form>
</div>

