

<button class="add btn btn-outline-primary btn-sm"><i title="add maintenance"class="fa fa-wrench" data-toggle="modal" data-target="#myModal"></i></button>

<div class="modal fade" id="myModal" role="dialog">
<div class="modal-dialog">
<div class="modal-content cont">  
  <h4 class="h4">enter maintenance details</h4>
<div class="modal-body">
<form class="m-5" (submit)= "insert(maintenanceId,frameAge,currentMileage,serviceMileage,serviceCompany,planeId)">
<input [(ngModel)]="maintenanceId" placeholder="id" name="id">
<br><br>
<input [(ngModel)]="frameAge" placeholder="frame age" name="frameAge">
<br><br>
<input [(ngModel)]="currentMileage" placeholder="current mileage" name="currentMileage">
<br><br>
<input [(ngModel)]="serviceMileage" placeholder="service mileage" name="service mileage">
<br><br>
<input [(ngModel)]="serviceCompany" placeholder="service company" name="service company">
<br><br>
<input [(ngModel)]="planeId" placeholder="plane id" name="planeId">
<br><br>
<input class="save" type = "submit" value="save">
</form>

</div>
<div >
    <button class="btn"  data-dismiss="modal" >close</button>
  </div>
</div>
</div>
</div>

<table class="table">
  <tr>
    <th>id</th>
    <th>frame age</th>
    <th>current mileage</th>
    <th>service mileage</th>
    <th>service company</th>
    <th></th>
   
  </tr>
  <tr *ngFor="let maintain of maintain">
    <td>{{maintain.maintenanceId}}</td>
    <td>{{maintain.frameAge}}</td>
    <td>{{maintain.currentMileage}}</td>
    <td>{{maintain.serviceMileage}}</td>
    <td>{{maintain.serviceCompany}}</td>
  
    <td><i class="fa fa-trash-o " (click)="delete(maintain.maintenanceId)" ></i></td>
  </tr>
</table>
