
<button title="add plane"class=" add btn btn-outline-primary btn-sm"><i class="fa fa-plane" data-toggle="modal" data-target="#myModal" ></i></button>

<div class="modal fade" id="myModal" role="dialog">

<div class="modal-dialog">

<div class="modal-content cont">
<h4 class="h4">enter plane details</h4>
<div class="modal-body">


<form class="m-5" (submit)="insert(make,model,capacity)">
  <!--<input [(ngModel)]=planeId placeholder="id" name="id"/>-->
  <input [(ngModel)]=make placeholder="make" name="make"/><br><br>
  <input [(ngModel)]=model placeholder="model" name="model"/><br><br>
  <input [(ngModel)]=capacity placeholder="capacity" name="capacity"/><br><br>
  <input class="save"type="submit" value="add">
</form>

</div>
<div>
  <button class="btn" data-dismiss="modal">close</button>
</div>
</div>
</div>
</div>

<div class="table table-striped">
<table class="table">
  <tr>
    <th>id</th>
    <th>make</th>
    <th>model</th>
    <th>capacity</th>
    <th></th>
  </tr>
  <tr *ngFor="let plane of planes">
    <td>{{plane.planeId}}</td>
    <td>{{plane.make}}</td>
    <td>{{plane.model}}</td>
    <td>{{plane.capacity}}</td>
    <td><i title="delete" class="fa fa-trash-o "(click)="delete(plane.planeId)"></i></td>
  </tr>
</table>
</div>

