
<button class="add btn btn-outline-primary btn-sm"><i class="fa fa-road" data-toggle="modal" data-target="#myModal"></i></button>

<div class="modal fade" id="myModal" role="dialog">

<div class="modal-dialog">  

<div class="modal-content cont">
<h4 class="h4">enter route details</h4>
<div class="modal-body">

<form class="m-5" (submit)="insert(routeId,routeName,routeDistance,planeId)"><br><br>
<input [(ngModel)]="routeId" placeholder="id" name="routeId"><br><br>
<input [(ngModel)]="routeName" placeholder="route name" name="routeName"><br><br>
<input [(ngModel)]="routeDistance" placeholder="route distance" name="routeDistance"><br><br>
<input [(ngModel)]="planeId" placeholder="plane Id" name="planeId"><br><br>
<input class="save" type ="submit" value="add">
</form>
</div>
<div>
  <button class="btn" data-dismiss="modal">close</button>
</div>
</div>
</div>
</div>

<table class="table">
  <tr>
    <th>id</th>
    <th>route</th>
    <th>distance</th>
   
    <th></th>
  </tr>
  <tr *ngFor="let route of data">
    <td>{{route.routeId}}</td>
    <td>{{route.routeName}}</td>
    <td>{{route.routeDistance}}</td>

    <td><i class="fa fa-trash-o "(click)="delete(route.routeId)"></i></td>
  </tr>
</table>