.banner{background-color:aqua;text-align: center;font-family:Gabriola;font-size: 25px; }



.navigation{list-style:none;background-color: orangered;}



.footer{width:100%;font-size:16px;font-family:Gabriola; position: fixed;bottom: 0; left: 0; background:aqua;text-align: center;}