<div class="banner ">
  fleet tech
</div>

<div>
  <nav class="navbar navigation shadow">
    <li *ngIf="lg.isLogged()" class="liF" ><a routerLink="fleet" >Fleet</a></li>
    <li *ngIf="lg.isLogged()" class="liM"><a routerLink="maintain">Maintain</a></li>
    <li *ngIf="lg.isLogged()" class="liR"><a routerLink="routes">Routes</a></li>
    <li *ngIf="lg.isLogged()" class="liC"><a routerLink="crew">Crew</a></li>
    <li *ngIf="!lg.isLogged()"><a routerLink="login">login</a></li>
    <li *ngIf="lg.isLogged()" (click)="lg.logOut()"><a routerLink="login" >logout</a></li>
  </nav>
</div>

<div class="footer shadow "><footer>powered by polaris</footer></div>
